body {
    font-size: 16px;
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    font-size: 22px;
    margin: 30px 0;
}

.row {
    margin-bottom: 15px;
}

.box {
    width: 250px;
    height: 200px;
    display: inline-block;
    opacity: 0.5;
    cursor: pointer;
    color: #fff;
    font-size: 48px;
    font-weight: bold;
    line-height: 200px;
}

.box + .box {
    margin-left: 10px;
}

#box_0 { 
    background: url('taiwan.png');
    background-size: cover;
}
#box_1 { 
    background: url('chawan.png');
    background-size: cover;
}
#box_2 { 
    background: url('napori.png');
    background-size: cover;
}

.selected {
    opacity: 1.0;
}

#btn {
    display: inline-block;
    width: 150px;
    padding: 7px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
    background: #00aaff;
    box-shadow: 0 4px 0 #0088cc;
    color: #fff;
}

#btn:hover {
    opacity: 0.8;
}